<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OPENAPI_KEY</key>
	<string>$(OPENAPI_KEY)</string>
	<key>UIAppFonts</key>
	<array>
		<string></string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>ExDetox needs access to your photo library to add images to your &quot;My Why&quot; reasons.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>ExDetox needs your data to provide a personalized ad experience and improve our app&apos;s features.</string>
	<key>NSAdvertisingAttributionReportEndpoint</key>
	<string>https://appsflyer-skadnetwork.com/</string>
	<key>AttributionCopyEndpoint</key>
	<string>https://appsflyer-skadnetwork.com/</string>
</dict>
</plist>
